@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
body {
    margin: 0;
    padding: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav ul li {
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,p,a,button,input {
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
}
.d-flex img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.d-flex img:not(:last-child) {
    margin-right: 25px;
}
.navbar {
    background: white !important;
    position: fixed;
    width: 100%;
    z-index: 9;
}
.navbar-brand {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
    color: #22262A;
    margin-right: 196px;
}
@media screen and (max-width: 990px) {
    .navbar-brand {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}
@media screen and (min-width: 1450px) {
    .navbar-brand {
        margin-right: 246px;
        margin-left: 129px;
    }
    .d-flex {
        margin-right: 235px;
    }
}
.header {
    position: relative;
    top: 68px;
    background-image: url("/img/hero.png");
    height: 745px;
}
.header-text {
    position: relative;
    top: 426px;
    width: 400px;
    z-index: 2;
    left: 71%;
    transform: translateX(-50%);
}
.header-text h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 90px;
    color: #22262A;
}
.header-text p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    width: 450px;
}
.header-text button {
    margin-top: 27px;
    background: #22262A;
    width: 147px;
    height: 35px;
    color: white;
    border: none;
}
.header-text button:not(:first-child) {
    margin-left: 34px;
}

@media screen and (max-width: 870px) {
    .header-text {
        left: 50%;
        transform: translateX(-50%);
    }
}
@media screen and (max-width: 500px) {
    .header-text {
        left: 45%;
        transform: translateX(-50%);
    }
}
@media screen and (max-width: 420px) {
    .header {
        background-image: url("/img/adaptive.png");
        width: auto;
        height: 745px;
    }
    .header-text h1 {
        font-size: 50px;
    }
    .header-text {
        left: 63%;
        transform: translateX(-50%);
    }
    .header-text p {
        width: 300px;
    }
    .header-text button:not(:first-child) {
        margin-left: 20px;
    }
}
main {
    margin-top: 223.17px;
    margin-left: 230px;
}